*,
h1 {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

h1,
.disc-price {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
}

.product-name {
    color: hsl(212, 21%, 14%);
}

.product-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    margin: 1.5em 1em;
    overflow: hidden;
    width: 100%;
    max-width: 375px;
}

.product-image {
    max-width: 100%;
    object-fit: cover;
}

.product-type {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 0.75em;
}

.product-info {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    color: hsl(228, 12%, 48%);
    gap: 1em;
}

.product-description {
    line-height: 1.5;

}

.prices {
    display: flex;
    gap: 1em;
    align-items: center;
}

.disc-price {
    color: hsl(158, 36%, 37%);
}

.full-price {
    text-decoration: line-through;
    font-size: 0.75rem;
}

.add-cart-btn {
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 1em 2em;
    font-size: 1em;
    border-radius: 10px;
    box-shadow: none;
    border: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}